<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xterstar.www.placeholder">
    //access to the app
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/> //FIREBASE
        <activity
            android:name=".Login"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TTest"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="Register" />
        <activity android:name=".Subjects" />
        <activity android:name=".csClass" />
        <activity android:name=".econClass" />
        <activity android:name=".chemClass" />
        <activity android:name=".physicsClass" />
        <activity android:name=".mathClass" />
        <activity android:name=".commClass" />
        <activity android:name=".artClass" />
        <activity android:name=".psychClass" />
        <activity android:name=".poliClass" />
        <activity android:name=".otherClass" />
        <activity android:name=".ethClass"></activity>
    </application>

</manifest>