<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xterstar.www.placeholder">
    //access to the app
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        //FIREBASE
        <activity
            android:name=".SplashScreen"
            android:label="PlaceHolder"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TTest"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="Register" />
        <activity android:name=".Subjects" />
        <activity android:name=".SubjectActivities.csClass" />
        <activity android:name=".SubjectActivities.econClass" />
        <activity android:name=".SubjectActivities.chemClass" />
        <activity android:name=".SubjectActivities.physicsClass" />
        <activity android:name=".SubjectActivities.mathClass" />
        <activity android:name=".SubjectActivities.commClass" />
        <activity android:name=".SubjectActivities.artClass" />
        <activity android:name=".SubjectActivities.psychClass" />
        <activity android:name=".SubjectActivities.poliClass" />
        <activity android:name=".SubjectActivities.otherClass" />
        <activity android:name=".PostTest" />
        <activity android:name=".SubjectActivities.ethClass" />
        <activity android:name=".PostActivity" />
        <activity android:name=".Login" />
        <activity android:name=".PostFullScreen"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>